.front-page {
  display: flex;
  flex-direction: column;
}
.start-quiz-button {
  color: yellow;
}
body {
  background-image: url('../images/background-page.jpg');
  background-size: cover;
  background-position: center;
}
